* {
    box-sizing: border-box;
}




#inputt {
margin: 3% auto;
}





#contenedor {

  height:-webkit-fill-available;
  background-color:  #ff6d4e;
  width: 60%;
  font-size: 20px;
}



#formulario_registro{
  margin-top: 10% auto;
  height:auto;
  margin: 5% auto;
  width: 70%;


}
