* {
    box-sizing: border-box;
}

body {
  background: url("Iconos/Clave_Sol.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 10px auto;

}

fieldset {
width: 75%;
margin: 10px auto;
}

#inputt {
margin: 3% auto;
}





#contenedor {
  height:-webkit-fill-available;


}



#formulario_registro{
  margin-top: 10% auto;
  height:auto;
  margin: 5% auto;
  width: 50%;


}



label {
  color: white;
}


input {
  width: 50%;

}
