* {
    box-sizing: border-box;
}

body {

  margin: 10px auto;

}

fieldset {
width: 75%;
margin: 10px auto;
}

#inputt {
margin: 3% auto;
}





#contenedor {
  height:-webkit-fill-available;
  background-color: #AAB7B8;

}



#formulario_registro{
  margin-top: 10% auto;
  height:auto;
  margin: 5% auto;
  width: 50%;


}



span {
  height: 1%;
  width: 100px;
  display: inline-block;
  color: black;
}
