* {
    box-sizing: border-box;
}

body {
  background: url("Iconos/Clave_Sol.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 10px auto;

}

fieldset {
width: 100%;
margin: 10px auto;
margin-left: 20%;
}

#inputt {
margin: 3% auto;
}



#fondo {
  background-color: #AAB7B8;

}



#contenedor {
  height:-webkit-fill-available;

}


#formulario_inicio{
  /*background-color: #BCB6B4;*/
  margin-top: 10% auto;
  height:auto;
  margin: 5% auto;
  width: 60%;
  padding-top: 2%;
  padding-left: 2%;

}

#formulario_registro{

  margin-top: 10% auto;
  height:auto;
  margin: 5% auto;
  width: 50%;


}




span {
  height: 1%;
  width: 80px;
  display: inline-block;
  color: white;
}
