* {
    box-sizing: "border-box";
}


body {

}



#contenedor {
  position: relative;
  margin: 10px auto;
  height:-webkit-fill-available;
  width: 100%;

  background: url("clave_sol.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  position: absolute;
  height:40%;
  
}


span {
  width: 100px;
  display: inline-block;
}
