* {
    box-sizing: border-box;
}


body {
  background: url("clave_sol.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 10px auto;
  height:-webkit-fill-available;
  width: 100%;
}

#grande{

  background: url("clave_sol.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px auto;
  height:-webkit-fill-available;
  width: 100%;
}



#contenedor {
  position: relative;
  margin: 10px auto;

  width: 100%;


}

form {
  position: absolute;
  height:40%;

}


span {
  width: 100px;
  display: inline-block;
}
